* {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
}

/*HTML (Universal) Styles*/
body{
    background-color: #361999; 
}

h1 {
    font-family: 'Alice', Helvetica, sans-serif;
    color: white; 
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-family: 'Alice', Helvetica, sans-serif;
    color: #78FFF1; 
    font-size: 2rem; 
}

h3 {
    color: white;  
    font-family: 'Epilogue'; 
}

p {
    color: white;  
    font-family: 'Epilogue'; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
    font-size: .5rem;   
}

a {
    font-family: 'Epilogue';
    color: white; 
    text-decoration: none;
}

/*Hover Styles*/
/*Strikethrough hover from Codepen developer tsinemis*/
span {
    position: relative;
    display: block;
    cursor: pointer;
  }

span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #FF6495; 
}
  
span:before {
    left: -2.5px;
}

span:after {
    right: 2.5px;
    background: #FF6495; 
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
span:hover:before {
    background: #FF6495; 
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/*Navigation Styles*/
#navbar {
   background-color: #361999; 
   color: white; 
   display: flex;
   justify-content: flex-end;
   align-items: center;
   align-content: center;
   position: fixed; 
   font-size: 1.25rem;
   padding-right: 25px; 
   width: 100%; 
   z-index: 99;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 25px 30px; 
}

svg {
    height: 30px; 
    width: 30px; 
    margin-right: 7px;
    align-self: center; 
} 

/*Masthead (Welcome) Section Styles*/
#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 
}

/*Project (Body) Section*/
#projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects h2 {
    padding-bottom: 2rem;
}

.project-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2.5rem; 
    width: 100%;
    margin: 0 auto;   
    margin-bottom: 4rem;  
    max-width: 1280px;
}

.project-image {
    height: 450px; 
    width: 100%; 
    object-fit: cover;
}

.project-title {
    margin-top: 1.5rem; 
}

/*Contact Section*/
#contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2 {
    padding-bottom: 2rem;
}

#profile-link {
    padding-bottom: 3rem; 
}

/*Media Queries*/
@media all and (max-width: 975px) {
    #projects {
        padding: 6rem 1rem; 
    }
    /*height calculation from FCC*/
    .project-image {
        height: calc(100% - 5rem); 
    }
}
@media all and (max-width: 480px) {
  #navbar {
        justify-content: center;
    }
    .nav-list {
        margin: 0 1rem; 
    }
    h2 {
        font-size: 1.5rem;
    }
    .project-container {
        grid-template-columns: 1fr;
    }
}