* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

h1, h3 {
    font-family: 'Crimson Text', 'sans-serif';
    font-size: 3rem; 
    color: white; 
}

h2 {
    font-family: 'Crimson Text', 'sans-serif';
    font-size: 2rem; 
    color: white;   
}

p {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem; 
    line-height: 1.5rem;
    color: white;  
}

button {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem; 
    line-height: 1.5rem;
}

/*Header Section Styles*/
#header{
    top: 0; 
    position: sticky; 
    background-color: white;
}
.navbar {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem; 
    color: #011F26; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 15px; 
}

.nav-list {
    list-style-type: none; 
}

.nav-list .list-item {
    display: inline-block; 
    padding: 20px 10px; 
}

.navbar a {
    text-decoration: none;
    color: #011F26; 
}

.navbar a:hover{
    color: #10828F;
    font-weight: bold;
    text-decoration: none;
}

#header-img {
    height: 5rem; 
    width: auto; 
}

/*Masthead Section Styles*/
#masthead{
    background-image: url(../resources/skiLineup.jpg);
    height: 65vh; 
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.masthead-text {
    margin: 0 auto 2rem 5rem; 
    padding: 5rem .5rem 0 .5rem;  
}

.masthead-button {
    margin: 1rem auto 2rem 5rem; 
    padding: 5rem .5rem 0 .55rem; 
    background-color: white;
    border: 1px solid white; 
    padding: 1.25rem; 
    width: auto;  
    border-radius: 0px 50px;
    font-size: 1.25rem;
    color: #025159; 
}

.masthead-button:hover {
    background-color: transparent;
    border: 1px solid white; 
    font-weight: bold;
    color: white; 
}

/* Product Section Styles */

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.product-grid > div {
    background: #025159;
    display: grid;
    
  }

.product-grid > div::before {
    content: "";
    display: block;
    grid-area: 1/1/2/2;
  }

.product-grid > div img {
    width: 100%;
    grid-area: 1/1/2/2;
}

.product-grid > div span {
    padding-left: 3rem; 
    padding-right: 3rem
}

.product-grid > div button {
    margin-top: 4rem;
}

.product-button-style1 {
    background-color: #7EF1E0;
    border: 1px solid #7EF1E0; 
    padding: 1rem; 
    width: auto;  
    border-radius: 0px 50px;
    color: #025159; 
}

.product-button-style1:hover {
    background-color: transparent;
    border: 1px solid white; 
    color: white; 
}

.product-button-style2 {
    background-color: #B2EBE2;
    border: 1px solid #B2EBE2; 
    padding: 1rem; 
    width: auto; 
    border-radius: 0px 50px;
    color: #07524A; 
}

.product-button-style2:hover {
    background-color: transparent;
    border: 1px solid white; 
    color: white; 
}

/*Video Section Styles */
.video-style {
    background-color: #011F26; 
    padding-top: 3rem; 
    padding-bottom: 3rem; 
}

#video-section {
    text-align: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
  }
  .video-grid > section {
    padding: 1rem;
    display: grid;
    place-items: center;
  }
  .video-grid > section::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: 1/1/2/2;
  }
  .video-grid > section iframe {
    width: 100%;
    grid-area: 1/1/2/2;
  }

#video {
    height: 50vh; 
    width: 100%; 
    border-radius: .25rem;
}

#video2 {
    height: 50vh; 
    width: 100%; 
    border-radius: .25rem;
}

/*Footer Section Styles*/

#footer {
    background-color: #0F8C8C;  
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    text-align: center;
}

#email {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem;
    width: 25%; 
    height: 1.8rem;
    padding: 0.25rem;
    margin: 2rem 2rem 0 auto;
    color: rgba(41, 41, 41, 0.397);
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid #15BFAE;  
}

#email:focus {
    border-color: #15BFAE;  
    outline: 0; 
    box-shadow: 0 0 0 0.2rem rgba(9, 108, 126, 0.596);
}

.footer-btn {
    font-family: 'Work Sans', 'sans-serif';
    background-color: #B2EBE2;
    border: 1px solid #B2EBE2; 
    padding: .75rem; 
    width: auto; 
    border-radius: 0px 50px;
    color: #07524A; 
}

.footer-btn:hover {
    background-color: transparent;
    border: 1px solid white; 
    color: white; 
}


/*Media Queries*/

@media screen and (max-width: 1000px) {
    .navbar {
        display: flex; 
        flex-direction: column;
    }
    #masthead {
        height: 45vh; 
    }
    .masthead-info h1 {
        font-size: 4rem; 
    }
    .product-grid > div span {
        padding-left: 1rem; 
        padding-right: 1rem
    }
    .product-grid > div span p {
        font-size: .6rem; 
    }
    .product-grid > div button {
        margin-top: 1.75rem;
        margin-bottom: .75rem; 
    }
    .video-grid {
        margin: 3rem; 
        grid-gap: 4rem;
    }
}

/*Small Devices*/
@media (max-width: 600px) {
    #masthead {
        height: 35vh; 
    }
}

