* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

h1, h3 {
    font-family: 'Crimson Text', 'sans-serif';
    font-size: 3rem; 
    color: white; 
}

h2 {
    font-family: 'Crimson Text', 'sans-serif';
    font-size: 2rem; 
    color: white;   
}

p {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem; 
    line-height: 1.5rem;
    color: white;  
}

button {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem; 
    line-height: 1.5rem;
}

/*Header Section Styles*/
#header{
    top: 0; 
    position: sticky; 
    background-color: white;
}
.navbar {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem; 
    color: #011F26; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 15px; 
}

.nav-list {
    list-style-type: none; 
}

.nav-list .list-item {
    display: inline-block; 
    padding: 20px 10px; 
}

.navbar a {
    text-decoration: none;
    color: #011F26; 
}

.navbar a:hover{
    color: #10828F;
    font-weight: bold;
    text-decoration: none;
}

#header-img {
    height: 5rem; 
    width: auto; 
}

/*Masthead Section Styles*/
#masthead{
    background-image: url(../resources/skiLineup.jpg);
    height: 65vh; 
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.masthead-text {
    margin: 0 auto 2rem 5rem; 
    padding: 5rem .5rem 0 .5rem;  
}

.masthead-button {
    margin: 1rem auto 2rem 5rem; 
    padding: 5rem .5rem 0 .55rem; 
    background-color: white;
    border: 1px solid white; 
    padding: 1.25rem; 
    width: auto;  
    border-radius: 0px 50px;
    font-size: 1.25rem;
    color: #025159; 
}

.masthead-button:hover {
    background-color: transparent;
    border: 1px solid white; 
    font-weight: bold;
    color: white; 
}

/* Product Section Styles */

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.product-grid > div {
    background: #025159;
    display: grid;
    
  }
.product-grid > div::before {
    content: "";
    display: block;
    grid-area: 1/1/2/2;
  }
.product-grid > div img {
    width: 100%;
    grid-area: 1/1/2/2;
  }

.product-grid > div span {
    padding-left: 3rem; 
    padding-right: 3rem
}

.product-grid > div button {
    margin-top: 4rem;
}

.product-button-style1 {
    background-color: #7EF1E0;
    border: 1px solid #7EF1E0; 
    padding: 1rem; 
    width: auto;  
    border-radius: 0px 50px;
    color: #025159; 
}

.product-button-style1:hover {
    background-color: transparent;
    border: 1px solid white; 
    color: white; 
}

.product-button-style2 {
    background-color: #B2EBE2;
    border: 1px solid #B2EBE2; 
    padding: 1rem; 
    width: auto; 
    border-radius: 0px 50px;
    color: #07524A; 
}

.product-button-style2:hover {
    background-color: transparent;
    border: 1px solid white; 
    color: white; 
}


/*Video Section Styles*/
.video-container {
    display: grid;
    grid-gap: .5rem;
}
  
.video1 {
    grid-column: 1;
    grid-row: 1; 
}
 
.video2 {
    grid-column: 2;
    grid-row: 1; 
}

#video {
    height: 50vh; 
    width: 100%; 
    border-radius: .25rem;
}

#video2 {
    height: 50vh; 
    width: 100%; 
    border-radius: .25rem;
}

/*Media Queries*/

@media screen and (max-width: 1000px) {
    .navbar {
        display: flex; 
        flex-direction: column;
    }
    #masthead {
        height: 45vh; 
    }
    .masthead-info h1 {
        font-size: 5rem; 
    }
    .video-container {
        display: grid;
        grid-gap: 1rem;
    }     
    .video1 {
        grid-column: 1 / 2; 
        grid-row: 1;
    }  
    .video2 {
        grid-column: 1 / 2; 
        grid-row: 2;
    }
}

/*Small Devices*/
@media (max-width: 600px) {
    #masthead {
        height: 35vh; 
    }
    .video-container {
        display: grid;
        grid-gap: 1rem;
    }
    .video1 {
        grid-column: 1 / 2; 
        grid-row: 1;
    }
     
    .video2 {
        grid-column: 1 / 2; 
        grid-row: 2;
    }
}

