@charset "utf-8";
/* CSS Document */
html {
    background-color: #1a1f36;
    min-height: 100vh; 
}

body {
    font-family: 'Poppins', 'sans-serif';
    color: #c1c9d2;
    font-size: 1rem;  
    margin-left: 250px; 
}


/*Navigation Styles*/

#navbar {
    width: 250px; 
    height: 100vh; 
    position: fixed; 
    background-color: #1a1f36;
    color: #c1c9d2;
    top: 0; 
    left: 0; 
    padding: 30px 20px; 
    display: flex;
    flex-direction: column;   
}

.nav-header {
    color: white;    
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-items {
    padding-inline-start: 0;
}

.nav-items > li {
    list-style-type: none;
    margin-bottom: 20px; 
}

.nav-items > li:hover {
    cursor: pointer;
}

.nav-link {
    color: #c1c9d2;
    text-decoration: none;
}

.nav-link:hover {
    color: #6c8eef;
    font-weight: bold;
} 

#hamburgerBtn {
    position: fixed;
    top: 30px; 
    right: 30px; 
    color: #c1c9d2;
    display: none;
    z-index: 10;
}

#hamburgerBtn:hover {
    cursor: pointer;
    color: #6c8eef;
}

/*Main Document (Body) Styles*/
  #main-doc {
      padding: 40px; 
      margin: 0 auto; 
      max-width: 1000px;
  }
  #main-doc header {
      font-size: 1.5rem;
      font-weight: bold;
      color: white; 
  }

  #main-doc strong {
    color: #6c8eef;
  }

/*Media Queries*/
@media only screen and (max-width: 768px) {
    body {
        margin-left: 0;
    }
    #navbar {
        width: 100vw; 
        transform: translateX(-1000px);
        transition: transform 500ms;
    }
    #navbar.open {
        transform: translateX(0);
    }
    .nav-header {
        font-size: 1.25rem;
        text-align: center;
    }            
    .nav-items > li {
        text-align: center;
    }
    #hamburgerBtn {
        display: inline-block;
    }
}


