@charset "utf-8";
/* CSS Document */
html {
    background-color: #1a1f36;
    margin: 0; 
    padding: 0; 
}
body {
    font-family: 'Poppins', 'sans-serif';
    color: #c1c9d2;  
}


/*Navigation Styles*/

#navbar {
    position: fixed;
    display: block; 
    margin: 1rem auto 0 .3rem;  
    padding-right: 2rem;
}

#navbar header {
    font-weight: bold;
    font-size: 1.2rem;
    color: white; 
    margin: .3rem 0 0 .3rem; 
}

#navbar ul, #navbar li {
    margin: 10px; 
}

#navbar ul {
    margin: 0 0 0 -2rem;
}

#navbar li {
    color: #c1c9d2; 
    list-style: none;
}

#navbar a {
    color: #c1c9d2; 
    text-decoration: none;
    line-height: 3rem;
}

#navbar a:hover {
    color: white;
    font-weight: bold;
    transition: color .2s ease;
}

/*
#navbar a:visited {
    color: #6c8eef; 
    font-weight: bold;
    background-color: hsla(249, 15%, 57%, 0.445); 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
    margin-right: 12px; 
    width: 100%; 
}*/

/*Dropdown Nav Bar*/
#navbar select {
    display: none;
}

/*Main Document (Body) Styles*/
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }

  #main-doc header {
      font-size: 1.5rem;
      font-weight: bold;
      color: white; 
  }

  #main-doc strong {
    color: #6c8eef;
  }

/*Media Queries*/
@media (max-width: 960px) {
        #navbar ul { 
            display: none; 
        }
        #navbar select { 
            position: absolute;
            display: inline-block;     
            width: 100%;           
            border: none;
            z-index: 99;
        }

        #main-doc {
            position: relative; 
            z-index: -1;
            margin-left: 0px;
        }
  }